@page
@model JapaneseLessons.Web.Pages.Words.AllWordsModel

@{
    ViewData["Title"] = "All Words";
}
<h2>@ViewData["Title"]</h2>
<p><a asp-page="Create">Add new word</a></p>

<table class="table">
    <thead>
        <tr>
            <th>Text</th>
            <th>Meaning</th>
            <th>Pronounce</th>
            <th>Hiragana writing</th>
            <th>Lesson tag</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var word in Model?.Words)
        {
        <tr>
            <td>@word.Text</td>
            <td>@word.Meaning</td>
            <td>@word.PronounceRussian</td>
            <td>@word.PronounceJapanese</td>
            <th>@word.Lesson?.Title</th>
            <th>
                <form method="post">
                <a asp-page="Edit" asp-route-id="@word.Id">Change</a>
                </form>
            </th>
</tr>
        }
    </tbody>
</table>